*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form.uploadmenuitem{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 20px 20px 20px;
    display: flex;
    gap: 20px;
    z-index: 100;
    background-color: white;
}

form.uploadmenuitem .uploadmenuitem-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


form.uploadmenuitem .uploadmenuitem-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form.uploadmenuitem .uploadmenuitem-right textarea{
    width: 500px;
    height: 600px;
    border: 1px solid #dddd;
    outline: none;
}
form.uploadmenuitem input{
    width: 300px;
    padding: 10px 15px;
    border:none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddd;
    color: #666666;
    font-weight: 400;


}

form.uploadmenuitem select{
    border: 1px solid #dddd;
    outline: none;
    padding: 10px 15px ;
    border-radius: 5px;
    color: #666666;
    font-weight: 400;

}
.btn-close{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn-save{
    color: white;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: slateblue;
    margin-top: 20px;
    border: 1px solid #dddd;
    cursor: pointer;

}
form.uploadmenuitem label{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}

.btn-close:hover{
    background-color: #dddd;
  
}
.box-img input{
    opacity: 0;
    width: 100%;
    height: 100%;
}
.box-img{
    width: 120px;
    height: 100px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #dddd;
    background-image: url('../Images/profile.jpg')  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.box-img img{
    width: 100%;
    height: 100%;
}